.trip_figure_wrapper {
  margin-bottom: 3rem;
  border-radius: 15px;
  overflow: hidden;

  .figure__ {
    @include p-bottom(400, 1400);
  }
}

.gallary-wrapper {
  .figure__ {
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 70%;
  }
}
