// Neo-Sans-W23 Fonts
@font-face {
  font-family: "Neo";
  src: url("../fonts/Neo-Sans-W23/Neo-Sans-W23-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo";
  src: url("../fonts/Neo-Sans-W23/Neo-Sans-W23-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo";
  src: url("../fonts/Neo-Sans-W23/Neo-Sans-W23-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo";
  src: url("../fonts/Neo-Sans-W23/Neo-Sans-W23-Black.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neo";
  src: url("../fonts/Neo-Sans-W23/Neo-Sans-W23-Ultra.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
